body{
  margin: 0;
  font-family: 'Roboto Slab', serif;
}
/* HEADER SECTION START*/
header{
  background-image: url(donate-today-main/images/donation13.jpg);  
  background-repeat: no-repeat ;
  height: 80vh;
  background-position: center;
  background-size: cover;
}
#center{
  position: absolute;
  width: 600px;
  top: 20%;
  left: 30%;
  color: white;
}
#center h1,p{
  text-align: center;
}
#center h1{
  font-size:40px;
  word-spacing: 20px;
}
#center p{
  word-spacing: 3px;
}
#center a{
  background-color:orange;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 5px;
  display: inline-block;
  margin: auto;
  color:white;
  position: relative;
  left: 30%;
  margin-top:20px
}
#center a:hover{
  background-color:rgb(235, 155, 8) ;
}
/* HEADER SECTION END */
/* FIRST SECTION START*/

.first-sec { 
  width: 700px;
  margin: auto;
}
.first-sec h2{
  text-align: center;
  font-size: 30px;
}
.first-sec p{
  text-align: center;
  color: gray;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.first-sec div span{
  padding: 20px 40px;
  font-size: 20px;
  color: gray;
}
.first-sec input[type=text] {
  display: block;
  width:100%;
  box-sizing: border-box;
  border:none ;
  padding:20px 20px;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
  border-bottom:1px solid gray ;
}
.first-sec input[type=button]{
  display: inline-block;
  background-color:orange;
  padding: 15px 30px;
  font-size: 16px;
  border: none;
  position:absolute;
  left: 45%;
  margin-top: 30px;
  font-weight: bolder;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.first-sec input[type=button]:hover{
  background-color: rgb(238, 158, 10);
}
#border{
  border:2px solid red;
  color: red;
  font-weight: bold;
  background-color: rgba(255, 0, 0, 0.11);
}
/* FIRST SECTION END*/

/* SECOND SECTION START*/

.second-sec{
  margin-top: 100px;
  max-width: 1000px;
  position: absolute;
  left: 13%;
}
.second-sec h1{
  text-align: center;
  font-size: 30px;
}
.paragraph{
  width: 400px;
  position: relative;
  left: 35%;
  color: gray;

}
.flex-sec{
  width: 33%;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}
.one {
  background-color: rgba(255, 0, 0, 0.151);
}
.two {
  background-color: rgba(0, 128, 0, 0.164);
}
.three {
  background-color: rgba(255, 0, 0, 0.13);
}
.center-id-problem {
  text-align: left;
  color: gray;
}
/* SECOND SECTION END*/


/* THARD SECTION START*/
.section-three{
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 1000px;
  margin-top: 600px;
  position: relative;
  left: 13%;
}
.section-three div{
  width: 48%;
}
.section-three h3{
  font-size: 30px;
  margin:20px 20px;
}
.section-three p{
  text-align: left;
  margin-left: 20px;
  margin-bottom: 40px;
  color: gray;
}

.section-three a{
  text-decoration: none;
  padding: 15px 30px;
  background-color: orange;
  margin-top: 20px;
  border-radius: 5px;
  margin-left: 20px;
  color: white;
}


.image-section img{
  width: 92%;
  margin-left: 40px;
  border-radius: 5px;
}

/* THARD SECTION END*/

/* GET-UPDATE SECTION START*/
.get-update{
  max-width: 1000px;
  margin: auto;
}
.get-update h1{
  text-align: center;
  font-size: 30px;
}
.get-update p{
  text-align: center;
  width: 500px;
  margin: auto;
  padding-bottom: 30px;
  color: gray;
}
.get-update div{
  width: 650px;
  height: 140px;
  background-color: rgba(255, 0, 0, 0.151);
  margin: auto;
}
.get-update input{
  padding: 15px 30px;
  border: none;
  margin: auto;
  display: inline-block;
  position: relative;
  top: 50px;
  left: 140px;
  border-radius: 5px 0 0 5px ;
}
.get-update input[type=button]{
  background-color: red;
  color: white;
  margin-left: -3px;
  border-radius: 0 5px 5px 0 ;
  cursor: pointer;
  
}
.get-update input[type=button]:hover{
  background-color: rgb(240, 10, 10);
}
/* GET-UPDATE SECTION END*/


footer{
  height: 60px;
  background-color: black;
}
footer p{
  color: white;
  margin-top: 30px;
  padding-top: 25px;
}